<p-table [value]="services">
    <ng-template pTemplate="header">
        <tr>
            <th>Service Name</th>
            <th>Price</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-service>
        <tr>
            <td>{{service.name}}</td>
            <td>{{service.price}}</td>
        </tr>
    </ng-template>
</p-table>